<a
   href="/event/edit/{{_id}}"
   class="bg-primary text-white d-flex align-items-center justify-content-center zindex-fixed"
   style="height: 3rem; width: 3rem; padding: 0.7rem; border-radius: 50%; position: fixed; bottom: 2rem; right: 2rem; box-shadow: 0 .5rem 1rem rgba(0,0,0,.3)!important"
>
   {{>edit}}
</a>